@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
body
{
    background-color: antiquewhite;

}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu',sans-serif;

     
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 45px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 48px;
    padding: 0 4px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 67vh;
    background-color: black;
    color: white;
    font-family: 'varela round',sans-serif;
    display: flex;
    margin-top: 10px;
    margin-left: 40px ;
    margin-bottom: 10px;
    margin-right: 40px;
    width: 80%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('BACKGROUND1.JPG');
    background-size: 100%;

    

}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;

}
.sonItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 43px;
    height: 40px;
    margin: 0 23px;
    border-radius: 40px; 
       
}

.timestamp{
    margin: 0 23px;

}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left:10vw;
    font-family: 'varela round',sans-serif;

}

.songInfo img{
    opacity: 1;
    transition: opacity is ease-in;

}